In [1]:
len("Felix is a silly kid")

20

In [4]:
import pandas as pd 
# read in the CSV file from a URL 
drinks = pd.read_csv('https://raw.githubusercontent.com/sinanuozdemir/principles_of_data_science/master/data/chapter_2/drinks.csv') 

# examine the data's first five rows 
drinks.head() # print the first 5 rows

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [5]:
drinks.describe()

,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
count,193.000000,193.000000,193.000000,193.000000
mean,106.160622,80.994819,49.450777,4.717098
std,101.143103,88.284312,79.697598,3.773298
min,0.000000,0.000000,0.000000,0.000000
25%,20.000000,4.000000,1.000000,1.300000
50%,76.000000,56.000000,8.000000,4.200000
75%,188.000000,128.000000,59.000000,7.200000
max,376.000000,438.000000,370.000000,14.400000

In [7]:
drinks['continent'].describe()

count     170
unique      5
top        AF
freq       53
Name: continent, dtype: object

In [8]:
drinks['country'].describe()

count       193
unique      193
top       Egypt
freq          1
Name: country, dtype: object

In [9]:
drinks['beer_servings'].describe()

count    193.000000
mean     106.160622
std      101.143103
min        0.000000
25%       20.000000
50%       76.000000
75%      188.000000
max      376.000000
Name: beer_servings, dtype: float64

In [14]:
drinks.to_csv('drinks.csv', index=False) #isn't part of book yet, I just wanted the data file, I notice it adds index, so need to specify

In [20]:
drinks_file= pd.read_csv('drinks.csv') #read it back in to test read_csv() and use .head() to display for testing
drinks_file.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [21]:
import numpy

results = [5, 4, 3, 4, 5, 3, 2, 5, 3, 2, 1, 4, 5, 3, 4, 4, 5, 4, 2, 1, 4, 5, 4, 3, 2, 4, 4, 5, 4, 3, 2, 1]

sorted_results = sorted(results)

print (sorted_results)

[1, 1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5]

In [22]:
print (numpy.mean(results))

3.4375

In [23]:
print (numpy.median(results))

4.0

# Interval Level Data

In [29]:
temps = [31, 32, 32, 31, 28, 29, 31, 38, 32, 31, 30, 29, 30, 31, 26]
print(numpy.mean(temps))
print(numpy.median(temps))

TypeError: 'mean' is an invalid keyword argument for print()

Here we talk about interval level data, the distinction made is that addition and subtraction is meaningful (not just that 0 is not meaningful) this is one of the best explainations for this. Typically intro stats simply say (0 is not meaningful) but thinking in terms of mathematical operations is one of the best ways to make this distinction. Then Ratio data is one where division and multiplication make sense.

In [26]:
squared_differences = []
#empty list of squared differences

In [30]:
mean = numpy.mean(temps)

for temperature in temps:
    difference = temperature - mean
    #how far is the point from the mean
    squared_difference = difference**2
    #square the difference
    squared_differences.append(squared_difference)
    #add to list

In [31]:
average_squared_difference = numpy.mean(squared_differences) #variance

In [32]:
standard_deviation = numpy.sqrt(average_squared_difference)

In [33]:
print(standard_deviation)

2.5157283018817607

# Ratio Level data

In [38]:
num_items = len(temps)
product = 1

#multiplies all temperatures together and saves as variable product
for temperature in temps:
    product *= temperature

#n-th roots the product variable, where n=num_items
geometric_mean = product**(1./num_items)

print("Geometric Mean = " + str(geometric_mean))

Geometric Mean = 30.63473484374659

A problem with ratio data is that the multiplication and division rule only makes sense if the data is positive, so some people prefer interval level even though it only allows addition and subtraction.